* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

    /*Cores*/

    --content-primary: #FFFFFF;
    --content-secondary: #C7C9CC;
    --content-tertiary: #D9D9D9;
    --content-brand: #C58DE7;
    --color-inverse: #030203;

    --background-primary:#020202;
    --background-secondary: #111012;
    --background-tertiary: #24222E;
    --background-brand: #C58DE7;
    --background-gray: #3D3D3D;

    --accent-pink: #D586E0;
    --accent-blue: #91A1FA;
    --accent-green: #77C0AF;
    --accent-lime: #D1DC97;
    --accent-red: #E9A9B3;

    --gradient-border: linear-gradient(var(--accent-green) 0%, var(--accent-lime) 14.84%, var(--accent-red) 15%, var(--accent-pink) 65.79%, var(--accent-blue) 84.58%);
    --gradient-background: linear-gradient(var(--accent-pink) 0%, var(--accent-blue) 98.93%);
    --gradient-content: linear-gradient(var(--content-secondary) 0%, var(--background-gray) 100%);
}