* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {

  /*Colors*/

  --content-primary: #FFFFFF;
  --content-secondary: #C7C9CC;
  --content-tertiary: #D9D9D9;
  --content-brand: #C58DE7;
  --color-inverse: #030203;

  --background-primary: #020202;
  --background-secondary: #111012;
  --background-tertiary: #24222E;
  --background-brand: #C58DE7;
  --background-gray: #3D3D3D;

  --accent-pink: #D586E0;
  --accent-blue: #91A1FA;
  --accent-green: #77C0AF;
  --accent-lime: #D1DC97;
  --accent-red: #E9A9B3;

  --gradient-border: linear-gradient(to right, var(--accent-green) 0%, var(--accent-lime) 14.84%, var(--accent-red) 15%, var(--accent-pink) 65.79%, var(--accent-blue) 84.58%);
  --gradient-background: linear-gradient(to right, var(--accent-pink) 0%, var(--accent-blue) 98.93%);
  --gradient-content: linear-gradient(to right, var(--content-secondary) 0%, var(--background-gray) 100%);

  /*Fonts*/

  --ff-sora: "Sora", sans-serif;
  --ff-mono: "Roboto Mono", monospace;
  --ff-flex: "Roboto Flex", sans-serif;

  --dl: 700 4.5rem/130% var(--ff-sora);
  --dm: 700 2.5rem/130% var(--ff-sora);
  --ds: 600 2rem/130% var(--ff-sora);

  --overline: 600 1rem/150% var(--ff-mono);

  --pl: 500 1rem/150% var(--ff-flex);
  --pm: 500 0.875rem/150% var(--ff-flex);
  --ps: 500 0.75rem/150% var(--ff-flex);
  --lm: 500 1.25rem/150% var(--ff-flex);
  --ls: 600 1rem/150% var(--ff-flex);
}

html {
  background-color: var(--background-primary);
  color: var(--content-primary);
}

header {
  display: flex;
  width: 100%;
  gap: 0.687rem;
  margin-top: 2.75rem;
  align-items: center;
  justify-content: center;
  font: 700 1.5rem/130% var(--ff-sora);
  text-transform: uppercase;
}

h1 {
  font: var(--dm);
}

h2 {
  font: var(--lm);
  text-transform: uppercase;
}

p {
  font: var(--pm);
  color: var(--content-tertiary);
}

input {
  all: unset;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.container {
  --max-width: 19.937rem;
  width: min(var(--max-width), 100% - 2.25rem * 2);
  margin-inline: auto;
  margin-top: 2.875rem;

  & .header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-transform: uppercase;

    & span {
      font: var(--overline);
      background: var(--gradient-content);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

}

.content {
  margin-top: 2.625rem;

  & .title-form {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
  }
}


form {
  width: 100%;
  margin-top: 2.5rem;

}

.fields {
  width: 100%;
  display: flex;
  gap: 0.75rem;
}

.field {
  display: flex;
  flex-direction: column;
  gap: .5rem;

  & label {
    font: var(--ls);
    text-transform: uppercase;
    color: var(--content-secondary);
    text-align: center;
  }

  & input {
    width: 100%;
    background-color: var(--background-secondary);
    padding-block: .25rem;
    font: var(--ds);
    text-align: center;
    border-radius: .5rem;
  }

  & input::placeholder {
    color: var(--content-primary);
  }
}






.questions {}