* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {

    /*Colors*/

    --content-primary: #FFFFFF;
    --content-secondary: #C7C9CC;
    --content-tertiary: #D9D9D9;
    --content-brand: #C58DE7;
    --color-inverse: #030203;

    --background-primary:#020202;
    --background-secondary: #111012;
    --background-tertiary: #24222E;
    --background-brand: #C58DE7;
    --background-gray: #3D3D3D;

    --accent-pink: #D586E0;
    --accent-blue: #91A1FA;
    --accent-green: #77C0AF;
    --accent-lime: #D1DC97;
    --accent-red: #E9A9B3;

    --gradient-border: linear-gradient(var(--accent-green) 0%, var(--accent-lime) 14.84%, var(--accent-red) 15%, var(--accent-pink) 65.79%, var(--accent-blue) 84.58%);
    --gradient-background: linear-gradient(var(--accent-pink) 0%, var(--accent-blue) 98.93%);
    --gradient-content: linear-gradient(var(--content-secondary) 0%, var(--background-gray) 100%);


    /*Fonts*/

    --ff-sora: "Sora", sans-serif;
    --ff-mono: "Roboto Mono", monospace;
    --ff-flex: "Roboto Flex", sans-serif;

    --dl: 700 4.5rem/130% var(--ff-sora);
    --dm: 700 2.5rem/130% var(--ff-sora);
    --ds: 600 2rem/130% var(--ff-sora);

    --overline: 600 1rem/150% var(--ff-mono);

    --pl: 500 1rem/150% var(--ff-flex);
    --pm: 500 0.875rem/150% var(--ff-flex);
    --ps: 500 0.75rem/150% var(--ff-flex);
    --lm: 600 1.25rem/150% var(--ff-flex);
    --ls: 600 1rem/150% var(--ff-flex);
}

html {
  background-color: var(--background-primary);
  color: var(--content-primary);
}

header {
  display: flex;
  width: 100%;
  gap: 0.687rem;
  margin-top: 2.75rem;
  align-items: center;
  justify-content: center;
  font: 700 1.5rem/130% var(--ff-sora);
  text-transform: uppercase;
}

.container {
  margin-top: 2.875rem;
  max-width: 19.937rem;
}