* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {

  /*Colors*/

  --content-primary: #FFFFFF;
  --content-secondary: #C7C9CC;
  --content-tertiary: #D9D9D9;
  --content-brand: #C58DE7;
  --color-inverse: #030203;

  --background-primary: #020202;
  --background-secondary: #111012;
  --background-tertiary: #24222E;
  --background-brand: #C58DE7;
  --background-gray: #3D3D3D;

  --accent-pink: #D586E0;
  --accent-blue: #91A1FA;
  --accent-green: #77C0AF;
  --accent-lime: #D1DC97;
  --accent-red: #E9A9B3;

  --gradient-border: linear-gradient(to right, var(--accent-green) 0%, var(--accent-lime) 14.84%, var(--accent-red) 15%, var(--accent-pink) 65.79%, var(--accent-blue) 84.58%);
  --gradient-background: linear-gradient(to right, var(--accent-pink) 0%, var(--accent-blue) 98.93%);
  --gradient-content: linear-gradient(to right, var(--content-secondary) 0%, var(--background-gray) 100%);

  /*Fonts*/

  --ff-sora: "Sora", sans-serif;
  --ff-mono: "Roboto Mono", monospace;
  --ff-flex: "Roboto Flex", sans-serif;

  --dl: 700 4.5rem/130% var(--ff-sora);
  --dm: 700 2.5rem/130% var(--ff-sora);
  --ds: 600 2rem/130% var(--ff-sora);

  --overline: 600 1rem/150% var(--ff-mono);

  --pl: 500 1rem/150% var(--ff-flex);
  --pm: 500 0.875rem/150% var(--ff-flex);
  --ps: 500 0.75rem/150% var(--ff-flex);
  --lm: 500 1.25rem/150% var(--ff-flex);
  --ls: 600 1rem/150% var(--ff-flex);
}

body {
  background-color: var(--background-primary);
  color: var(--content-primary);
  background-image:
    linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6)), url("assets/Shapes.svg");
  background-repeat: no-repeat, no-repeat;
  background-position:
    bottom;
  background-size: 100%, cover;
}

header {
  display: flex;
  width: 100%;
  gap: 0.687rem;
  margin-top: 2.75rem;
  align-items: center;
  justify-content: center;
  font: 700 1.5rem/130% var(--ff-sora);
  text-transform: uppercase;
}

h1 {
  font: var(--dm);
}

h2 {
  font: var(--lm);
  text-transform: uppercase;
}

h3 {
  font: var(--pm);
  color: var(--content-brand);
}

p {
  font: var(--pm);
  color: var(--content-tertiary);
}

input {
  all: unset;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

ul {
  list-style: none;
}

.desktop-only {
  display: none;
}

.container {
  --max-width: 19.937rem;
  width: min(var(--max-width), 100% - 2.25rem * 2);
  margin-inline: auto;
  margin-top: 2.875rem;

  & .header-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-transform: uppercase;

    & span {
      font: var(--overline);
      background: var(--gradient-content);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

}

.content {
  margin-top: 2.625rem;

  & .title-form {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
  }
}


form {
  width: 100%;
  margin-top: 2.5rem;

  & label {
    font: var(--pm);
    color: var(--content-tertiary);
  }

}

.fields {
  width: 100%;
  display: flex;
  gap: 0.75rem;
  margin-bottom: 1.25rem;
}

.field {
  display: flex;
  flex-direction: column;
  gap: .5rem;

  & label {
    font: var(--ls);
    text-transform: uppercase;
    color: var(--content-secondary);
    text-align: center;
  }

  &:hover {
    label {
      color: var(--content-brand);
    }

    input {
      background-color: var(--background-tertiary);
    }
  }

  &:focus-within {
    label {
      color: var(--content-brand);
    }

    input {
      background-color: var(--background-tertiary);
    }

  }

  & input {
    width: 100%;
    background-color: var(--background-secondary);
    padding-block: .25rem;
    font: var(--ds);
    text-align: center;
    border-radius: .5rem;
    outline: none;

  }
}

.input-gradient {
  box-sizing: border-box;
  padding: 1.5px;
  border-radius: .5rem;
  background: transparent;
}

.input-gradient:hover {
  background: var(--gradient-border);
}

.input-gradient:focus-within {
  background: var(--gradient-border);
  padding: 2.5px;
}



.repeat {
  display: flex;
  gap: .5rem;


  position: relative;

  & [type="checkbox"] {
    all: unset;
    position: absolute;
    inset: 0;
  }

  & .checkbox-img {
    width: 1.875rem;
    height: 1.25rem;
    background-image: url(assets/default.svg);

  }

  &:has(:checked) .checkbox-img {
    background-image: url(assets/active.svg);
  }
}

button {
  all: unset;
  position: relative;
  box-sizing: border-box;
  margin-top: 2.5rem;
  display: flex;
  width: 100%;
  background-color: var(--background-tertiary);
  cursor: pointer;
  gap: .5rem;
  align-items: center;
  justify-content: center;
  padding-block: 1rem;
  border-radius: .5rem;
  border: none;
  transition: background-color .4s ease;

  & span {
    font: var(--lm);
    color: var(--content-primary);
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    translate: -50% -50%;
    border-radius: 8px;
    background-image: var(--gradient-border);
    z-index: -1;
    padding: 2px;
    opacity: 0;
    transition: opacity .4s ease;

  }

  &:hover {
    background-color: var(--background-secondary);
  }

  &:hover::before {
    opacity: 1;
  }

}


.questions {
  margin-top: 5rem;
}

.li-item {
  margin-bottom: 2.25rem;
  display: flex;
  gap: .5rem;
  align-items: flex-start;
}

.hide {
  display: none;
}


@media (width >=80rem) {
  .desktop-only {
    display: block;
  }

  .mobile-only {
    display: none;
  }

  header {
    --max-width: 68.625rem;
    width: min(var(--max-width), 100% - 2.25rem * 2);
    margin-inline: auto;
    justify-content: left;
  }

  .container {
    display: flex;
    gap: 6.75rem;
    --max-width: 68.625rem;
    width: min(var(--max-width), 100% - 2.25rem * 2);
    margin-inline: auto;
    margin-top: 5.562rem;
  }
}